form button {
    display: flex;
    align-items: center;
    width: 322px;
    height: 68px;
    margin-bottom: 10px;
    background-color: #f3f3fb;
    border-radius: 18px;
    font-family: 'Sen';
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    color: #686868;
}

form button:hover {
    color: #4654eb;
}

form img {
    margin-right: 26px;
    width: 45px;
    height: 45px;
}

.app_title {
    display: flex;
    align-items: center;
    width: 322px;
    height: 68px;
    font-family: 'Sen';
    font-weight: 400;
    font-size: 26px;
    line-height: 31px;
    color: #000000;
}

.app_title img {
    margin-right: 19px;
    width: 75px;
    height: 75px;
}

.navbar {
    list-style: none;
    margin-top: 62px;
    padding-left: 56px;
}

.navbar li:nth-of-type(2) {
    margin-top: 91px;
}

.navbar li:nth-of-type(6) button {
    color: #000000;
}

.navbar li:nth-of-type(6) button:hover {
    color: #4654eb;
}

.tasks_list {
    width: 1400px;
    height: 820px;
    margin-top: -415px;
    margin-left: 457px;
    list-style: none;
    white-space: nowrap;
}

.task {
    display: flex;
    align-items: center;
    list-style: none;
    margin-bottom: 20px;
    width: 1385px;
    height: 68px;
    background: #FFFFFF;
    border-radius: 18px;
    font-family: 'Sen';
    font-weight: 400;
    font-size: 23px;
    line-height: 28px;
    color: #000000;
}

.task:hover {
    color: #ffffff;
    background: #4654EB;
}

.image img {
    height: 44px;
    width: 44px;
    margin-right: 19px;
}

.name {
    width: 148px;
    margin-left: 23px;
}

.text {
    width: 642px;
    margin-left: 103px;
}

.date {
    width: 56px;
    margin-left: 201px;
}