button {
    display: flex;
    align-items: center;
    width: 322px;
    height: 68px;
    margin-bottom: 10px;
    background-color: #f3f3fb;
    border-radius: 18px;
    font-family: 'Sen', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    color: #686868;
}

button:hover {
    color: #4654eb;
}

button img {
    margin-right: 26px;
    width: 45px;
    height: 45px;
}

.app_title {
    display: flex;
    align-items: center;
    width: 322px;
    height: 68px;
    font-family: 'Sen', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 31px;
    color: #000000;
}

.app_title img {
    margin-right: 19px;
    width: 75px;
    height: 75px;
}

ul {
    list-style: none;
    margin-top: 62px;
    padding-left: 56px;
}

li:nth-child(2) {
    margin-top: 91px;
}

li:nth-child(6) button {
    color: #000000;
}

li:nth-child(6) button:hover {
    color: #4654eb;
}