{% extends "base.html" %}

{% block title %}
    Index
{% endblock %}

{% block content %}
    <ul>
        <li class="app_title">
            <img src="static/images/icon.png" alt="icon">
            Manager Task
        </li>
        <li>
            <button>
                <img src="static/images/tasks.png" alt="tasks">
                Задачи
            </button>
        </li>
        <li>
            <button>
                <img src="static/images/chat.png" alt="chat">
                Чат
            </button>
        </li>
        <li>
            <button>
                <img src="static/images/workers.png" alt="workers">
                Сотрудники
            </button>
        </li>
        <li>
            <button>
                <img src="static/images/calendar.png" alt="calendar">
                Календарь
            </button>
        </li>
        <li>
            <button>
                <img src="static/images/profile.png" alt="profile">
                Фамилия Имя
            </button>
        </li>
    </ul>
{% endblock %}
