{% block content %}
<ul id="navbarul">
    <li class="app_title">
        <div class="circle">
            <img src="static/images/profile.png" alt="profilepic">
        </div>
            Manager Task
    </li>
    <li>
        <button>
            <img src="static/images/tasks.png" alt="tasks">
            Задачи
        </button>
    </li>
    <li>
        <button>
            <img src="static/images/chat.png" alt="chat">
            Чат
        </button>
    </li>
    <li>
        <button>
            <img src="static/images/workers.png" alt="workers">
            Сотрудники
        </button>
    </li>
    <li>
        <button>
            <img src="static/images/calendar.png" alt="calendar">
            Календарь
        </button>
    </li>
    <li>
        <button>
            <img src="static/images/profile.png" alt="profile">
            Фамилия Имя
        </button>
    </li>
</ul>
{% endblock %}