{% extends "base.html" %}

{% block title %}
    Login
{% endblock %}

{% block content %}
<div class="registration">
  <h1>Регистрация</h1>
  <hr>
  {% for flash in get_flashed_messages() %}
    <span> {{ flash }} </span>
  {% endfor %}
  <form action="" method="post">
    {{ form.csrf_token }}
      <div class="form-group">
        <label>
          {{ form.login.label }}
        </label>
        {{ form.login(class="form-control") }}
      </div>
      {% for error in form.login.errors %}
        <div class="task_alert" role="alert">
          <span>{{ error }}</span>
        </div>
      {% endfor %}

      <div class="form-group">
        <label>
          {{ form.password.label }}
        </label>
        {{ form.password(class="form-control") }}
      </div>
      {% for error in form.password.errors %}
        <div class="task_alert" role="alert">
          <span>{{ error }}</span>
        </div>
      {% endfor %}
    <div class="task_submit">
      {{ form.submit(class="btn btn-primary btn-lg") }}
    </div>
    <a href="/login">Войти</a>
  </form>
</div>
{% endblock %}